@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "styles/variable";
@import "styles/reset";
@import "styles/btn";
@import "styles/navbar";
@import "styles/alert";
@import "styles/card";
@import "styles/post";
@import "styles/form-control";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.bg-primary {
  background: $primary-color;
  color: #fff;
}



.list {
  margin: 0.5rem 0;

  li {
    padding-bottom: 0.3rem;
  }
}
